/* 片段来自：pkmer知识管理交流群，@熊猫别熬夜*/

/* === Image Float === */
body {
  --float-left-margin: 4px 12px 4px 12px;
  --float-right-margin: 4px 12px 4px 12px;
  --float-snw-display: none;
}

.view-content .markdown-preview-sizer {
  div:has(img)::before,
  div:has(img)::after {
    content: " ";
    clear: both;

    &>div:has(ol) {
      clear: none;
    }
  }

  div:has(img)::after {
    display: table;
  }
}

.view-content .markdown-source-view,
.view-content .markdown-preview-sizer {
  span[alt="O"] img {
    object-fit: cover;
    border-radius: 50%;
  }

  span[alt="OL"] img {
    object-fit: cover;
    border-radius: 50%;
    float: left;
    text-align: left;
    margin: var(--float-left-margin);
    margin-block: unset;
    display: inline !important;
  }

  span[alt="OR"] img {
    object-fit: cover;
    border-radius: 50%;
    float: left;
    text-align: right;
    margin: var(--float-right-margin);
    margin-block: unset;
    display: inline !important;
  }

  span[alt="L"] img {
    float: left;
    text-align: left;
    margin: var(--float-left-margin);
    margin-block: unset;
    display: inline !important;
  }

  span[alt="R"] img {
    float: right;
    text-align: right;
    margin: var(--float-right-margin);
    margin-block: unset;
    display: inline !important;
  }

  /* 行内显示 */
  span[alt="I"] img:not([width]) {
    float: unset;
    text-align: left;
    height: 2rem !important;
    margin: 0px 0.2rem 0px 0.2rem !important;
    transform: translateY(0.3rem);
    margin-block: unset;
    display: inline !important;
  }
}

/* Banner图片 */
p:has(span[alt="banner"]) {
  column-span: all;
  margin: 0;
  /* margin-bottom: 15px; */
  padding: 0;
  overflow: hidden;
  user-select: none;
  /* pointer-events: none; */
}

span[alt="banner"] img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  ;
  height: 200px;
  /* 抄自https://geek-docs.com/css/css-tutorials/t_adding-a-mask-to-an-image-using-css.html */
  mask-image: linear-gradient(to top,
      transparent 50%,
      var(--background-primary) 50%);
}

